@import "normalize.css";
body {
  background-color: #222222;
  color: #cacaca;
  margin-left: 185px;
  padding-left: 10px;
  padding-bottom: 15px;
  width: 605px;
  border-left: 1px solid #303030;
}
header,
nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 170px;
}
nav {
  top: 80px;
}
header h1 {
  height: 80px;
  background: url('images/infinite_fun.png') right center no-repeat;
  color: transparent;
  line-height: 0.1em;
  font-size: 0.1em;
}
h2.author {
  font-weight: normal;
  display: none;
}
h2.author:before {
  content: 'By: ';
  font-style: italic;
}
h3.date {
  font-weight: normal;
  font-family: georgia;
  display: none;
}
h2 {
  font-size: 1.4em;
  color: #6a6a6a;
  font-weight: normal;
  font-family: serif;
}
h2 span {
  font-size: .7em;
}
h3,
h4 {
  border-bottom: 1px solid #303030;
}
h5 {
  margin: -12px 0 15px 0;
  font-weight: normal;
}
h5.author:before {
  content: 'By: ';
  font-style: italic;
  color: #505050;
}
h5.date:before {
  content: 'Published: ';
  font-style: italic;
  color: #505050;
}
h5.last-update:before {
  content: 'Last Update: ';
  font-style: italic;
  color: #505050;
}
hr {
  margin: 20px 20% 20px 20%;
  border: 0;
  border-top: 1px dashed #505050;
}
p {
  text-align: justify;
  line-height: 1.5em;
}
body > ul {
  list-style-type: square;
}
div.sourceCode {
  font-size: .95em;
}
pre.sourceCode {
  padding: 4px;
}
a,
a:hover,
a:visited,
a:active {
  font-family: Arial, Helvetica, sans-serif;
  color: #3aaaf1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
nav ul {
  list-style-type: none;
  margin-left: -25px;
  margin-top: 5px;
}
nav ul li {
  margin-bottom: 5px;
}
nav ul li a {
  font-variant: all-small-caps;
  display: block;
  text-align: right;
  padding-right: 10px;
}
nav ul li a:hover {
  text-decoration: none;
  color: #6a6a6a;
}
nav hr {
  margin: 0 5px;
  border: 0;
  border-top: 1px solid #303030;
}
nav p {
  text-align: right;
  font-size: .92em;
  padding-right: 10px;
  line-height: 1.2em;
}
span.social-text-id {
  color: #3d3d3d;
  display: inline-block;
  width: 65px;
  text-align: left;
}
p#footer {
  font-size: .85em;
}
