@import "normalize.css";
body {
  background-color: #222222;
  color: #cacaca;
  margin-left: 185px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 15px;
  max-width: 595px;
  min-width: 360px;
  border-left: 1px solid #303030;
}
header,
nav,
#footer {
  position: fixed;
  top: 0;
  left: 0;
  width: 170px;
}
nav {
  top: 80px;
}
header h1 {
  height: 80px;
  background: url('images/infinite_fun.png') right center no-repeat;
  color: transparent;
  line-height: 0.1em;
  font-size: 0.1em;
}
h2.author {
  font-weight: normal;
  display: none;
}
h2.author:before {
  content: 'By: ';
  font-style: italic;
}
h3.date {
  font-weight: normal;
  font-family: georgia;
  display: none;
}
h2 {
  font-size: 1.4em;
  color: #6a6a6a;
  font-weight: normal;
  font-family: serif;
}
h2 span {
  font-size: .7em;
}
h3,
h4 {
  border-bottom: 1px solid #303030;
}
h5 {
  margin: -12px 0 15px 0;
  font-weight: normal;
}
h5.author:before {
  content: 'By: ';
  font-style: italic;
  color: #505050;
}
h5.date:before {
  content: 'Published: ';
  font-style: italic;
  color: #505050;
}
h5.last-update:before {
  content: 'Last Update: ';
  font-style: italic;
  color: #505050;
}
hr {
  margin: 20px 20% 20px 20%;
  border: 0;
  border-top: 1px dashed #505050;
}
p {
  text-align: justify;
  line-height: 1.5em;
}
body > ul {
  list-style-type: square;
}
div.sourceCode {
  font-size: .95em;
}
pre.sourceCode {
  padding: 4px;
}
a,
a:hover,
a:visited,
a:active {
  font-family: Arial, Helvetica, sans-serif;
  color: #3aaaf1;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
nav ul {
  list-style-type: none;
  margin-left: -25px;
  margin-top: 5px;
}
nav ul li {
  margin-bottom: 5px;
}
nav ul li a {
  font-variant: all-small-caps;
  display: block;
  text-align: right;
  padding-right: 10px;
}
nav ul li a:hover {
  text-decoration: none;
  color: #6a6a6a;
}
#footer {
  top: 200px;
}
#footer hr {
  margin: 0 5px;
  border: 0;
  border-top: 1px solid #303030;
}
#footer p {
  font-size: .92em;
  padding-right: 10px;
  line-height: 1.2em;
  text-align: right;
}
#footer span.social-text-id {
  color: #4a4a4a;
  display: inline-block;
  width: 65px;
  text-align: left;
}
#footer p#copyright {
  font-size: .85em;
}
@media (max-width: 600px) {
  body {
    margin-left: 0;
    border: 0;
  }
  header,
  nav,
  #footer {
    position: relative;
    top: 0;
    width: 100%;
    border-bottom: 1px solid #303030;
  }
  header h1 {
    background-position: center center;
  }
  hr {
    margin: 20px 10% 20px 10%;
  }
  nav ul,
  nav ul li,
  nav ul li a {
    margin: 0;
    height: 2em;
  }
  nav ul li {
    float: left;
    width: 24.5%;
  }
  nav ul li a {
    float: left;
    text-align: center;
    padding-right: 0;
    width: 100%;
    line-height: 1.8em;
  }
  #footer {
    border: 0;
    border-top: 1px solid #303030;
    margin-bottom: 15px;
  }
  #footer hr {
    display: none;
  }
  #footer p {
    width: 49%;
    margin-top: 10px;
    margin-right: 1%;
    text-align: left;
    float: left;
    padding: 0;
  }
  #footer p#copyright {
    margin-right: 0;
    text-align: right;
  }
}
